.container {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 375px;
  height: 718px;
  background: #fff;
}

.nav_bar {
  width: 327px;
  height: 40px;
  display: flex;
  align-items: center;
  list-style: none;
  border: 1px solid transparent;
  margin-bottom: 50px;
  padding-top: 10px 12px;
}

.myLogo {
  flex: 1;
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-left: 12px;
  color: #6070ff;
}

.contact {
  width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  justify-content: flex-end;
}

.img_background {
  background-image: url("image/header-shapes.svg");
  position: absolute;
  height: 587.15px;
}

.header {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-left: 24px;
  margin-top: 114px;
}

.intro {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  height: 146px;
  padding-left: 24px;
}

.connect {
  width: 117px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 24px;
}

.social ul {
  width: 170.17;
  height: 20px;
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 25px;
  padding-left: 24px;
}

.twitter {
  width: 19.99px;
  height: 19.96px;
}

.medium {
  width: 20px;
  height: 16px;
}

.linkedin {
  width: 12.71px;
  height: 16.97px;
}

Tonic_section

.border_tonic {
  width: 327px;
  height: 552px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #fff;
  border: 1px solid black;
  border-radius: 16px;
}
.image_tonic {
  width: 295px;
  height: 220px;
  padding: 16px;
  /*background: url(image_processing20200716-21735-f07s4k.png);*/
  border-radius: 8px;
  padding-left: 12px;
}
.tonic {
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 13px;
  height: 16px;
  width: 295px;
}
.grid-item1 {
  width: 55px;
  color: #344563;;
}
.grid-item2, .grid-item2 {
  width: 8px;
  height: 8px;
}
.grid-item3 {
  width: 88px;
  color: #7a869a;
}
.grid-item5 {
  width: 29px;
  color: #7a869a;
}
.canopy {
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 5px;
}
.grid-languages {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 230px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}
.grid-lang1 {
  width: 53px;
}
.grid-lang2 {
  width: 45px;
}
.grid-lang3 {
  width: 89px;
}
.nav {
  width: 124px;
  height: 48px;
  padding: 12px;
  border: transparent;
}